body {
	margin: 0px;
	padding: 0px;
	background-color:#f5f5f5;
}

body ul {
	margin: 0px;
	padding: 0px;
}

body a {
	text-decoration: none;
}

.header {
	position:fixed;
	z-index:1;
	top:0px;
	width: 100%;
    height: 50px;
    background: #f5f5f5;
    border-bottom: 1px solid #d1d1d1;
}

.header ul {
	position: absolute;
	left: 7%;
	top: 15px;
}

.header li {
	float: left;
	list-style:none;
	margin-left: 30px;
}

.supplier{
	float:left;
	position: absolute;
	left: 60%;
	top: 15px;
}
.supplier p{
	position:relative;
	top:-15px;
	float:left;
	margin-left:20px;
	color:gray;
}
.supplier a{
	float:left;
	list-style:nne;
	margin-left:20px;
}
.exit{
	position:absolute;
	left:95%;
	top:15px;
}
a:hover {
	color:#32cf42;
}

.title{
	position:relative;
	height:200px;
	width:0px;
	margin-top:30px;
	margin-left:40%;
	background-color:#f5f5f5;
}
.content{
	width:100%;
	margin-left:45px;
}
.product{
	float:left;
	position:relative;
	margin-left:50px;
	margin-top:40px;
	width:250px;
	height:425px;
 	border-radius:8px;
}
.footer{
	position:relative;
	top:60px;
	padding:1em;
	color:white;
	background-color:#1f8729;
	clear:left;
}
.footer p{
	text-align:center;
}
.useronline{
	position:absolute;
	left:8%;
	top:15px;
}
.pic{
	position:relative;
	margin-left:25px;
	margin-top:25px;
	border-radius:8px;
}
.detail{
	width:188px;
	height:160px;
	position:relative;
	margin-left:27px;
	margin-top:0px;
	padding:0.6em;
	font-size:12px;
 	border-radius:8px;
}
.pic:hover{
	transform: scale(1.2);
}
#search{
	width:40%;
	height:38px;
	position:relative;
	left:30%;
	margin-top:60px;
}
#search input[type=text]{
	margin-top:-3%;
    width:70%;
    height: 27px;
    border:5px solid #249f31;
    color: #249f31;
    background-color:#f5f5f5;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 3px;
    outline:none;
}
#search button[type=submit]{
	position:relative;
	top:-1px;
    width:130px;
    height: 43px;
    background: #249f31;
    border: 1px solid #249f31;
    cursor: pointer;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left:2px;
}