.product {
    margin: auto;
    left: 12%;
    width: 70%;
    height: 800px;
    border: 0px solid;
    padding: 10px;
}

.image {
 	position: relative;
    left: 21%;
    top: 4%;
 	width: 20%;
 	padding: 10px;
 	background: transparent;
}

.info {
 	position: relative;
    left: 50%;
    top: -20%;
 	height: 200px;
 	width: 50%;
 	padding: 10px;
 	background: transparent;
}

.detail {
	margin: auto;
	position: relative;
	left: 13%;
	width: 28%;
    top: -5%;
    background: transparent;
    padding: 10px;
}